$color-primary: #1c83c2;
$color-secondary: #3fd43f;

$background-color: #e3e3e3;
$background-color-dark: #3e3e3e;

$text-color: #3e3e3e;
$text-color-light: #e3e3e3;
$text-color-primary: $color-primary;
$text-color-secondary: $color-secondary;

$base-margin: 20px;
